export(count_ge)
export(example_weather_data)
export(aggregate_weather_daily)
export(extract_interval_features)
export(extract_fda_features)
export(fit_fda_group_model)
export(functional_group_summary)
export(functional_interval_test)
export(functional_on_scalar)
export(make_windows)
export(make_functional_matrix)
export(plot_fda_difference)
export(plot_fda_intervals)
export(plot_fda_means)
export(plot_fda_p_values)
export(plot_functional_difference)
export(plot_functional_means)
export(plot_functional_on_scalar)
export(plot_window_pane)
export(run_fda_analysis)
export(scan_windows)
export(screen_feature_correlations)
export(screen_window_features)
export(simulate_assessment_data)
export(simulate_weather_series)
export(summarise_weather_window)
export(validate_weather_data)
export(window_pane)
