export(count_above)
export(count_at_or_above)
export(count_below)
export(count_at_or_below)
export(count_between)
export(count_when)
export(days_since_last_rain)
export(degree_days_above)
export(degree_days_below)
export(degree_hours_above)
export(degree_hours_below)
export(derive_dew_point)
export(derive_favorable_condition)
export(derive_leaf_wetness_from_rh)
export(derive_leaf_wetness_from_rh_temp)
export(derive_temperature_range)
export(derive_vpd)
export(dry_hours)
export(example_weather_data)
export(aggregate_weather_daily)
export(extract_interval_features)
export(extract_fda_features)
export(fit_fda_group_model)
export(functional_group_summary)
export(functional_interval_test)
export(functional_on_scalar)
export(hours_in_temperature_range)
export(hours_since_last_rain)
export(humid_hours)
export(make_windows)
export(make_functional_matrix)
export(max_consecutive_above)
export(max_consecutive_at_or_above)
export(max_consecutive_at_or_below)
export(max_consecutive_below)
export(max_consecutive_between)
export(max_consecutive_dry_hours)
export(max_consecutive_humid_hours)
export(max_consecutive_wet_hours)
export(max_consecutive_when)
export(max_rain_event)
export(max_spell_duration_above)
export(max_spell_duration_when)
export(max_when)
export(mean_above)
export(mean_at_or_above)
export(mean_below)
export(mean_between)
export(mean_rain_event)
export(mean_spell_duration_above)
export(mean_spell_duration_when)
export(mean_when)
export(min_when)
export(plot_fda_difference)
export(plot_fda_intervals)
export(plot_fda_means)
export(plot_fda_p_values)
export(plot_functional_difference)
export(plot_functional_means)
export(plot_functional_on_scalar)
export(plot_window_pane)
export(proportion_above)
export(proportion_at_or_above)
export(proportion_at_or_below)
export(proportion_below)
export(proportion_between)
export(proportion_dry)
export(proportion_humid)
export(proportion_in_temperature_range)
export(proportion_wet)
export(proportion_when)
export(rain_event_count)
export(rain_events)
export(rainy_days)
export(rainy_hours)
export(run_fda_analysis)
export(scan_windows)
export(screen_feature_correlations)
export(screen_window_features)
export(simulate_assessment_data)
export(simulate_weather_series)
export(spell_count_above)
export(spell_count_at_or_above)
export(spell_count_below)
export(spell_count_between)
export(spell_count_when)
export(sum_above)
export(sum_at_or_above)
export(sum_below)
export(sum_between)
export(sum_when)
export(summarise_weather_window)
export(thermal_time_above)
export(thermal_time_between)
export(validate_weather_data)
export(wet_days)
export(wet_hours)
export(wet_spell_count)
export(mean_wet_spell_duration)
export(max_wet_spell_duration)
export(window_pane)
